/*Basic Elements*/

* {
    font-family: sans-serif;
}

h1 {
  font-weight: 600;
  color: #0d0d0d;
  text-align: center;
  margin-top: 0;
  margin-bottom: 39px;
  font-size: 28px;
}

h2 {
  font-size: 15px;
  font-weight: 600;
  color: #2f2f2f;
}

li {
  font-size: 12px;
  color: #7e7e7e;
  line-height: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li:before {
   content: "•";
   font-size: 120%;
   padding-right: 15px;
}



/* Core Elements */

.container {
  width: 592px;
  background-color: #f6fafb;
  padding-bottom: 22px;
  padding-top: 22px;
}

.main {
  width: 543px;
  background-color: white;
  margin: 0 13px 0 26px;
  padding-top: 26px;
}

.btn {
  background-color: #52b97b;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  padding: 5px 4px;
  height: 20px;
  width: 155px;
  display: flex;
  align-items: center;
}

.btn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 600;
}



/* rows and cols */

.row {
  width: 100%;
  display: flex;
}

.col-1-5 { width: 20%; }
.col-2-5 { width: 40%; }

.col-1-4 { width: 25%; }
.col-3-4 { width: 75%; }


/* icons */

img.icon-java {
  width: 85px;
  height: 85px;
  margin-left: 20px;
}

.main-icon{
  display: flex;
  flex-direction: column;
}

img.icon-compass {
  width: 28px;
  height: 23px;
}

/* Misc */

.detailed-info {
  background-color: #f6fafb;
}

.detailed-info__row {
  background-color: white;
  margin: 2px 2px 0 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailed-info__row:first-child { margin-left: 0; }
.detailed-info__row:last-child {
  margin-right: 0;
  justify-content: center;
}

.detailed-info__row div {
  font-size: 11px;
  text-align: center;
  color: #7e7e7e;
}
